<template name="home">
  <div class="row heading">
      <div class="headcont">
              <div>
                  <h4 class="SSTMlabel">СЕРВІС СТВОРЕННЯ І РЕЄСТРАЦІЇ ТОРГІВЕЛЬНИХ МАРОК</h4>
                  <div class="underlabel">Автоматизований он-лайн сервіс створення і реєстрації торгівельних марок СTM вітає Вас! </div>
              </div>
          <div class="hidden-xs">
              <div class="CTM_mid_logo">
              </div>
           </div>
          <div class="maintextlst col-sm-7 ">
              Ви можете за декілька простих кроків:<br>
              <a href="#registerTM">подати заявку на реєстрацію ТМ</a>, як для юридичних так і фізичних осіб<br>
              <a href="#orgerSearch">замовити попередній пошук </a> на схожість і тотожність<br>
              <a href="#registerCompany">створити юридичну особу</a> - ТОВ<br>
              <a href="#orgerLogo">замовити логотип</a> (торгівельний знак)<br>
              <a href="#orgerDomain">зареєструвати домен .UA</a>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="underlabel ulbsecond ">За допомогою сервісу СТМ  реєструються ТМ в Україні, будь-якій країні ЄС і США    
      </div>
       <div class="col-sm-2 blank">
       </div>
       <div class="col-sm-8 ourservices">
       Ви маєте можливість за допомогою СТМ створити свій бренд, як кажуть “з нуля” - створити і зареєструвати  юридичну особу - ТОВ, заказати логотип і зареєструвати торгівельну марку.<br>
       В кожному розділі сервісу є проста і зручна інструкція з заповнення заявок з прикладами.<br> <br>
       Також ми пропонуємо зручну послугу <a href='#allInclusive'>“Все включено”</a> для повного супроводження ТМ.<br>
      </div> 
       <div class="col-sm-2 blank">
       </div>
  </div>    
  <div class="row">
       <div class="col-sm-2 blank">
       </div>
       <div class="col-sm-8 greendotted">
       </div> 
       <div class="col-sm-2 blank">
       </div>
  </div>      
  <div class="row">
     <div class="col-sm-2 blank">
     </div>
     <div class="col-sm-8 ourservices">
       <div class="col-sm-4 serviceblock">
         <div class="pic4serviceblock"><img src="img/CreateLogo-logo.png"></img></div>
         <div class="mybutton green ">Замовити лого для ТМ</div>
       </div> 
       <div class="col-sm-4  serviceblock">
         <div class="pic4serviceblock"><img src="img/RegisterTM-logo.png"></div>
         <div class="mybutton green ">Зареєструвати ТМ</div>
       </div>  
       <div class="col-sm-4 serviceblock">
         <div class="pic4serviceblock"><img src="img/AllIncService-logo.png"></div>
         <div class="mybutton green ">Повне супровождення ТМ</div>
       </div> 
       <div class="col-sm-4  serviceblock">
         <div class="pic4serviceblock"><img src="img/RegisterCo-logo.png"></div>
         <div class="mybutton green ">Створити ТОВ</div>
       </div>  
       <div class="col-sm-4  serviceblock">
         <div class="pic4serviceblock"><img src="img/SearchTM-logo.png"></div>
         <div class="mybutton green ">Попередній пошук</div>
       </div> 
       <div class="col-sm-4  serviceblock">
         <div class="pic4serviceblock"><img src="img/RegisterDomain-logo.png"></div>
         <div class="mybutton green ">Реєстрація домену</div>
       </div>  
     </div>
    <div class="col-sm-2 blank">
    </div>
  </div> 
</template>