<template name="footer">
<div class='center'>
    &copy; CTM.  Використання матеріалів сервісу СТМ дозволяється тільки із посиланням на <a href="#">ctm.in.ua</a><br/>
    <a data-toggle="modal" href="#NDA">Договір конфіденційності</a>, <a data-toggle="modal" href="#StatementOnPDP">Заява про обробку персональних даних</a>
</div>   
    <div class="modal fade" id="NDA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Договір конфіденційності</h4>
        </div>
        <div class="modal-body">
          Тут текст договору...
          Тут текст договору...
          Тут текст договору...
          Тут текст договору...
          Тут текст договору...
          Тут текст договору...
          Тут текст договору...

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<div class="modal fade" id="StatementOnPDP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Заява про обробку персональних даних</h4>
        </div>
        <div class="modal-body">
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
          <p>Тут текст заяви...</p>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>